html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#form {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.97);
  padding: 16px;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

input, select, button, textarea {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 12px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 80px;
}

button {
  background: #2196f3;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1976d2;
}

.shop-marker {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.label-text {
  background: #2196f3;
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}



.marker-up {
  flex-direction: column;
  gap: 2px;
}


.marker-down {
  flex-direction: column-reverse;
  gap: 2px;
}


.marker-left,
.marker-right {
  flex-direction: row-reverse;
  gap: 4px;
}



.shop-marker:hover {
  opacity: 1; /* или другое ненарушающее поведение */
}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-top.leaflet-right {
  top: 50% !important;
  transform: translateY(-50%);
}

.triangle {
  width: 0;
  height: 0;
}
.marker-up .triangle {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid #2196f3;
}
.marker-down .triangle {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #2196f3;
}
.marker-right .triangle {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: none; /* Удаляем */
  border-right: 12px solid #2196f3; /* Стрелка направо ✅ */
}
.marker-left .triangle {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: none;
  border-left: 12px solid #2196f3; /* Стрелка налево ✅ */
}
